* {
  box-sizing: border-box;
}

body {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Roboto", sans-serif;
  text-rendering: auto;
}

main {
  overflow: hidden;
}

h1, h2, h3, p {
  margin: 0;
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

button {
  margin: 0;
  padding: 0;
}

.icon::before {
  display: inline-block;
  text-rendering: auto;
}

.heading {
  height: 64px;
  display: flex;
  justify-content: space-around;
}
.heading__logo-container {
  display: flex;
  align-items: center;
}
.heading__logo-container img {
  width: 162px;
}

.loc-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #ebebeb;
  box-shadow: inset 0px 8px 2px -5px #d1d1d1;
}
.loc-section__text {
  width: 162px;
  color: #363636;
}
.loc-section__text span {
  margin-left: 0.6rem;
  font-size: 1rem;
  font-weight: 600;
}

.explorer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px 56px 20px;
  background-color: whitesmoke;
  text-align: center;
}
.explorer-section h2 {
  padding-bottom: 15px;
}
.explorer-section p {
  padding-bottom: 30px;
}

.steps-section {
  display: flex;
  flex-direction: column;
  padding: 50px 20px 68px 20px;
  background-color: white;
}
.steps-section h2 {
  margin-bottom: 28px;
}
.steps-section ol {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  flex-basis: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.steps-section__step {
  display: flex;
  align-items: center;
  min-width: 324px;
  height: 74px;
  background-color: whitesmoke;
  border-radius: 25px;
  box-shadow: 0px 5px 10px 2px #e6e6e6;
}
.steps-section__step span {
  position: relative;
  right: 12.5px;
  width: 25px;
  height: 25px;
  background-color: #9356DC;
  color: white;
  font-size: 0.9rem;
  border-radius: 12.5px;
  padding-top: 5px;
  padding-left: 8px;
}
.steps-section__step .fa-steps-icon {
  display: flex;
  justify-content: center;
  width: 10%;
  margin-right: 20px;
  font-size: 20px;
  color: #7e7e7e;
}
.steps-section__step .fa-steps-icon--purple {
  color: #9356DC;
}
.steps-section__step p {
  display: flex;
  justify-content: center;
  font-weight: 500;
}
.steps-section__step--purple {
  background-color: #f5edff;
}

.restaurants-section {
  display: flex;
  flex-direction: column;
  padding: 54px 20px 64px 20px;
  background-color: whitesmoke;
}
.restaurants-section h2 {
  margin-bottom: 24px;
}
.restaurants-section__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 18px;
  height: 100%;
  margin: 0;
  padding: 0;
}

footer {
  height: 198px;
  background-color: #363636;
  padding: 7%;
}
footer h2 {
  font-family: "Shrikhand", sans-serif;
  color: white;
  margin-bottom: 1.2rem;
  font-size: 1.2rem;
  font-weight: 400;
}
footer li {
  margin-bottom: 0.6rem;
}
footer li .footer-link {
  color: white;
  font-weight: 400;
}
footer li .footer-link--slight {
  font-weight: 300;
}
footer li .footer-link .footer-icons {
  width: 20px;
  font-size: 0.8rem;
}

@keyframes heart-filling {
  0% {
    transform: scale(0);
  }
  60% {
    transform: scale(1);
  }
  68% {
    transform: scale(1.2);
  }
  80% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes heart-explode-empty {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
.heart {
  width: 52px;
  height: 52px;
}
.heart__checkbox {
  display: none;
}
.heart__label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  cursor: pointer;
}
.heart__label:hover input ~ span .heart__icon--full {
  animation: 450ms ease-in 0s heart-filling;
  animation-fill-mode: forwards;
}
.heart__label:hover input ~ span .heart__icon--empty {
  animation: 90ms ease-out 270ms heart-explode-empty;
  animation-fill-mode: forwards;
}
.heart__span {
  display: flex;
  justify-content: center;
  align-items: center;
}
.heart__span--full {
  position: absolute;
}
.heart__icon--empty {
  z-index: 1;
  font-size: 24px;
}
.heart__icon--full {
  text-align: center;
  font-size: 24px;
  transform: scale(0);
  background: linear-gradient(170deg, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 186px;
  height: 50px;
  border: 0;
  padding: 0;
  border-radius: 25px;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  box-shadow: 0px 5px 5px 2px #dbdbdb;
  cursor: pointer;
}
.button span {
  margin-left: 22px;
  margin-right: 22px;
  text-decoration: none;
  font-weight: 400;
  color: white;
}
.button:hover {
  background: linear-gradient(170deg, #fface8, #a16be0);
  box-shadow: 0px 5px 5px 2px #cfcfcf;
}

.restaurants-card {
  position: relative;
  width: 100%;
  height: 252px;
  border-radius: 15px;
  box-shadow: 0px 5px 5px 2px #e6e6e6;
  overflow: hidden;
}
.restaurants-card__link {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.restaurants-card .restaurant-image-container {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 174px;
  overflow: hidden;
}
.restaurants-card .restaurant-image-container__image {
  object-fit: cover;
  min-height: 100%;
}
.restaurants-card .restaurant-image-container__image--1 {
  width: 103%;
  transform: translate(0%, 0%);
  align-self: flex-end;
}
.restaurants-card .restaurant-image-container__image--2 {
  width: 100%;
  transform: translate(0%, -7%);
  align-self: center;
}
.restaurants-card .restaurant-image-container__image--3 {
  width: 102%;
  transform: translate(0%, 0%);
  align-self: flex-end;
}
.restaurants-card .restaurant-image-container__image--4 {
  width: 100%;
  transform: translate(0%, 0%);
  align-self: flex-end;
}
.restaurants-card .restaurant-image-container__new-flag {
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-top: 4%;
  padding-right: 4%;
}
.restaurants-card .restaurant-image-container__new-flag-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 30px;
  border-radius: 2px;
  background-color: #99E2D0;
  color: #278870;
  font-size: 0.9rem;
  font-weight: 500;
}
.restaurants-card__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 78px;
  padding: 4%;
  background-color: white;
}
.restaurants-card__description-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
}
.restaurants-card__description-text h3 {
  font-size: 1.1rem;
}
.restaurants-card__description-text p {
  font-size: 1.1rem;
  font-weight: 300;
}
.restaurants-card__description .heart {
  z-index: 3;
}

header, .heading, main, footer {
  display: none;
  animation: display-on-off 3000ms linear;
  animation-fill-mode: forwards;
}

.loading-spinner {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: white;
}
.loading-spinner__fork {
  overflow: hidden;
  transform-origin: bottom;
  animation: cutlery-appear 3000ms ease-in-out infinite;
}
.loading-spinner__fork .fork-icon {
  position: relative;
  z-index: -1;
  left: 45%;
  font-size: 12vh;
  width: 50%;
  color: #ebebeb;
}
.loading-spinner__knife {
  overflow: hidden;
  transform-origin: bottom;
  animation: cutlery-appear 3000ms ease-in-out 100ms infinite;
}
.loading-spinner__knife .knife-icon {
  position: relative;
  z-index: -1;
  right: 60%;
  font-size: 12vh;
  overflow: hidden;
  color: #ebebeb;
}
.loading-spinner__meal-loading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading-spinner__meal-loading .plate {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22vh;
  height: 22vh;
  background: radial-gradient(circle, rgba(255, 255, 255, 0) 55%, #9356DC 70%);
  border-radius: 11vh;
  opacity: 1;
  animation: plate-appear 3000ms ease-in-out infinite;
}
.loading-spinner__meal-loading .plate__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14vh;
  height: 14vh;
  border: 2px solid #ebebeb;
  border-radius: 7vh;
  opacity: 1;
}
.loading-spinner__meal-loading .plate .shrimp-icon {
  position: absolute;
  font-size: 8vh;
  color: #FF79DA;
  transform: rotate(-36deg);
  top: 6.5vh;
  left: 6.5vh;
}
.loading-spinner__meal-loading .plate .vegetable {
  transform: rotate(-35deg);
}
.loading-spinner__meal-loading .plate .vegetable--all {
  width: 10vh;
  height: 1vh;
  margin-bottom: 0.5vh;
  background: #99E2D0;
}
.loading-spinner__meal-loading .plate .vegetable--2 {
  position: relative;
  left: 0.5vh;
}
.loading-spinner__meal-loading .spinner-icon {
  font-size: 25vh;
  background: conic-gradient(rgba(0, 0, 0, 0) 90deg, #FF79DA, #9356DC);
  background-clip: text;
  transform: rotate(60deg);
  opacity: 0;
  animation: rotate 3s ease-in-out infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.loading-spinner__meal-loading .spinner-logo {
  position: absolute;
  z-index: 2;
  width: 30vh;
  display: none;
}

@keyframes rotate {
  0% {
    transform: rotate(60deg);
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  70% {
    transform: rotate(780deg);
    opacity: 0;
  }
  100% {
    transform: rotate(780deg);
  }
}
@keyframes plate-appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    transform: translateY(-1.5vh);
  }
  80% {
    opacity: 1;
    transform: translateY(0);
  }
  90% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
@keyframes cutlery-appear {
  0% {
    opacity: 0;
  }
  60% {
    transform: translateY(-8vh);
    opacity: 0;
  }
  65% {
    transform: translateY(0vh) scaleY(0.9);
    opacity: 1;
  }
  70% {
    transform: translateY(-0.5vh);
  }
  75% {
    transform: translateY(0vh);
  }
  90% {
    transform: translateY(0vh);
  }
  95% {
    opacity: 1;
  }
  100% {
    transform: translateY(2vh);
    opacity: 0;
  }
}
@keyframes display-on-off {
  0% {
    display: none;
  }
  100% {
    display: contents;
  }
}

/*# sourceMappingURL=style.css.map */
