* {
  box-sizing: border-box;
}

body {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Roboto", sans-serif;
  text-rendering: auto;
}

main {
  overflow: hidden;
}

h1, h2, h3, p {
  margin: 0;
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

button {
  margin: 0;
  padding: 0;
}

.icon::before {
  display: inline-block;
  text-rendering: auto;
}

.loading-spinner {
  display: none;
}

.heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.heading__logo-container {
  display: flex;
  align-items: center;
  height: 64px;
}
.heading__logo-container img {
  width: 162px;
}

@media (min-width: 641px) {
  .heading__logo-container {
    height: 76.8px;
  }
  .heading__logo-container img {
    width: 194.4px;
  }
}
.loc-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ebebeb;
  box-shadow: inset 0px 8px 2px -5px #d1d1d1;
}
.loc-section .loc-text-container {
  display: flex;
  align-items: center;
  width: 162px;
  color: #363636;
  height: 50px;
}
.loc-section .loc-text-container__text {
  margin-left: 15px;
  font-size: 1rem;
  font-weight: 500;
  color: #363636;
}
.loc-section .loc-text-container__icon {
  margin-bottom: 2px;
}

@media (min-width: 641px) {
  .loc-section .loc-text-container {
    justify-content: center;
    width: 194.4px;
    height: 60px;
  }
  .loc-section .loc-text-container__text {
    font-size: 1.2rem;
    margin-right: 15px;
  }
  .loc-section .loc-text-container__icon {
    font-size: 1.2rem;
  }
}
.description-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px 56px 20px;
  background-color: whitesmoke;
  text-align: center;
}
.description-section__title {
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
}
.description-section__text {
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 641px) {
  .description-section {
    margin: 64px 32px;
    padding: 60px 0;
    border-radius: 45px;
    box-shadow: 0px 5px 10px 2px #e6e6e6;
  }
  .description-section__title {
    font-size: 1.6rem;
  }
  .description-section__text {
    font-size: 1.1rem;
  }
}
.functionning-section {
  display: flex;
  flex-direction: column;
  padding: 50px 20px 68px 20px;
  background-color: white;
}
.functionning-section__title {
  margin-bottom: 28px;
}
.functionning-section__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  flex-basis: 100%;
  padding-left: 12.5px;
  list-style-type: none;
}
.functionning-section__list .step {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
  height: 74px;
  padding: 0 30px 0 12px;
  background-color: whitesmoke;
  border-radius: 25px;
  box-shadow: 0px 5px 10px 2px #e6e6e6;
}
.functionning-section__list .step__number {
  position: absolute;
  left: -12.5px;
  width: 25px;
  height: 25px;
  background-color: #9356DC;
  color: white;
  font-size: 0.9rem;
  border-radius: 12.5px;
  padding-top: 5px;
  padding-left: 8px;
}
.functionning-section__list .step--purple {
  background-color: #f5edff;
}
.functionning-section__list .step-text-container {
  display: flex;
  width: 250px;
}
.functionning-section__list .step-text-container__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  padding-right: 20px;
  font-size: 20px;
  color: #7e7e7e;
}
.functionning-section__list .step-text-container__icon--purple {
  color: #9356DC;
}
.functionning-section__list .step-text-container__text {
  font-weight: 500;
  white-space: nowrap;
}

@media (min-width: 641px) {
  .functionning-section {
    margin-bottom: 64px;
    padding: 0px 32px;
    gap: 20px;
  }
  .functionning-section__title {
    font-size: 1.6rem;
  }
  .functionning-section__list {
    flex-direction: row;
    padding-left: 0;
    gap: 0;
  }
  .functionning-section__list .step {
    width: 32%;
    padding: 30px 0 30px 0;
    height: auto;
  }
  .functionning-section__list .step__number {
    top: -6.5px;
    left: -6.5px;
  }
  .functionning-section__list .step-text-container {
    flex-direction: column;
    gap: 10px;
  }
  .functionning-section__list .step-text-container__icon {
    width: auto;
    padding: 0;
  }
  .functionning-section__list .step-text-container__text {
    display: flex;
    justify-content: center;
    white-space: wrap;
  }
}
.restaurants-section {
  display: flex;
  flex-direction: column;
  padding: 54px 20px 64px 20px;
  background-color: whitesmoke;
}
.restaurants-section__title {
  margin-bottom: 24px;
}
.restaurants-section__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 18px;
  height: 100%;
  margin: 0;
  padding: 0;
}

@media (min-width: 641px) {
  .restaurants-section {
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    padding: 32px 32px 64px 32px;
  }
  .restaurants-section__title {
    margin-bottom: 44px;
    font-size: 1.6rem;
  }
  .restaurants-section__list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px 2%;
  }
}
footer {
  background-color: #363636;
  padding: 25px;
}
footer h2 {
  font-family: "Shrikhand", sans-serif;
  color: white;
  margin-bottom: 20px;
  font-size: 1.2rem;
  font-weight: 400;
}
footer li {
  margin-bottom: 10px;
}
footer li .footer-link {
  color: white;
  font-weight: 400;
}
footer li .footer-link--slight {
  font-weight: 300;
}
footer li .footer-link__icon {
  width: 20px;
  font-size: 0.8rem;
}

@media (min-width: 641px) {
  footer h2 {
    margin-bottom: 25px;
    font-size: 1.44rem;
  }
  footer ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 64px;
  }
  footer ul li {
    margin-bottom: 10px;
    margin-left: 32px;
  }
}
@keyframes heart-filling {
  0% {
    transform: scale(0);
  }
  60% {
    transform: scale(1);
  }
  68% {
    transform: scale(1.2);
  }
  80% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes heart-explode-empty {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
.heart {
  width: 52px;
  height: 52px;
}
.heart__checkbox {
  display: none;
}
.heart__label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  cursor: pointer;
}
.heart__label:hover input ~ span .heart__icon--full {
  animation: 450ms ease-in 0s heart-filling;
  animation-fill-mode: forwards;
}
.heart__label:hover input ~ span .heart__icon--empty {
  animation: 90ms ease-out 270ms heart-explode-empty;
  animation-fill-mode: forwards;
}
.heart__span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
.heart__span--full {
  position: absolute;
}
.heart__icon--empty {
  z-index: 1;
}
.heart__icon--full {
  text-align: center;
  transform: scale(0);
  background: linear-gradient(170deg, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 186px;
  height: 50px;
  border: 0;
  padding: 0;
  border-radius: 25px;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  box-shadow: 0px 5px 5px 2px #dbdbdb;
  cursor: pointer;
}
.button span {
  margin-left: 22px;
  margin-right: 22px;
  text-decoration: none;
  font-weight: 400;
  color: white;
}
.button:hover {
  background: linear-gradient(170deg, #fface8, #ae80e5);
  box-shadow: 0px 5px 5px 2px #cfcfcf;
}

@media (min-width: 641px) {
  .button {
    min-width: 223.2px;
    height: 60px;
    border-radius: 38.4px;
  }
  .button span {
    margin-left: 38.4px;
    margin-right: 38.4px;
    font-size: 1.2rem;
  }
}
.restaurants-card {
  position: relative;
  width: 100%;
  height: 252px;
  border-radius: 15px;
  box-shadow: 0px 5px 5px 2px #e6e6e6;
  overflow: hidden;
}
.restaurants-card__link {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.restaurants-card .card-image-container {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 174px;
  overflow: hidden;
}
.restaurants-card .card-image-container__image {
  object-fit: cover;
  min-height: 100%;
}
.restaurants-card .card-image-container__image--1 {
  width: 103%;
  transform: translate(0%, 0%);
  align-self: flex-end;
}
.restaurants-card .card-image-container__image--2 {
  width: 100%;
  transform: translate(0%, -7%);
  align-self: center;
}
.restaurants-card .card-image-container__image--3 {
  width: 102%;
  transform: translate(0%, 0%);
  align-self: flex-end;
}
.restaurants-card .card-image-container__image--4 {
  width: 100%;
  transform: translate(0%, 0%);
  align-self: flex-end;
}
.restaurants-card .card-image-container__new-flag {
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-top: 4%;
  padding-right: 4%;
}
.restaurants-card .card-image-container__new-flag-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 30px;
  border-radius: 2px;
  background-color: #99E2D0;
  color: #278870;
  font-size: 0.9rem;
  font-weight: 500;
  box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.5);
}
.restaurants-card__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 78px;
  padding: 4%;
  background-color: white;
}
.restaurants-card__description-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
}
.restaurants-card__description-text p {
  font-size: 1.1rem;
  font-weight: 300;
}
.restaurants-card__description .heart {
  z-index: 3;
}

@media (min-width: 641px) {
  .restaurants-card {
    width: 48%;
  }
}
/* @import "./components/loading-spinner"; */

/*# sourceMappingURL=style.css.map */
