.functionning-section {
    display: flex;
    flex-direction: column;
    padding: 50px 20px 68px 20px;
    background-color: $color-bg-primary;

    &__title {
        margin-bottom: 28px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 25px;
        flex-basis: 100%;
        padding-left: 12.5px;
        list-style-type: none;

        .step {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            width: 100%;
            height: 74px;
            padding: 0 30px 0 12px;
            background-color: $color-bg-secondary;
            border-radius: 25px;
            box-shadow: 0px 5px 10px 2px darken($color-bg-primary, 10%);
    
            &__number {
                position: absolute;
                left: -12.5px;
                width: 25px;
                height: 25px;
                background-color: $color-primary;
                color: white;
                font-size: 0.9rem;
                border-radius: 12.5px;
                padding-top: 5px;
                padding-left: 8px;
            }
    
            &--purple {
                background-color: #f5edff;
            }
    
            &-text-container {
                display: flex;
                width: 250px;
    
                &__icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 50px;
                    padding-right: 20px;
                    font-size: 20px;
                    color: #7e7e7e;
    
                    &--purple {
                        color: $color-primary;
                    }
                }
    
                &__text {
                    font-weight: 500;
                    white-space: nowrap;
                }
            }
        }
    }
}

@media (min-width: 641px) {
    .functionning-section {
        margin: 4rem 2rem;
        padding: 0;
        gap: 20px;

        &__list {
            flex-direction: row;
            padding-left: 6.5px;
            gap: 0;
        }

        .step {
            width: 32%;
            padding: 30px 0 30px 0;
            height: auto;

            &__number {
                top: -6.5px;
                left: -6.5px;
            }

            &-text-container {
                flex-direction: column;
                gap: 10px;
                
                &__icon {
                    width: auto;
                    padding: 0;
                }

                &__text {
                    display: flex;
                    justify-content: center;
                    white-space: wrap;
                }
            }
        }
    }
}

@media (min-width: 1025px) {
    .functionning-section {
        margin: 4rem 7rem;
        gap: 0;

        &__list {
            padding-left: 12.5px;
            gap: 25px;
        }

        &__title {
            font-size: 1.6rem;
        }

        .step {
            height: 74px;

            &__number {
                top: inherit;
                left: -12.5px;
            }

            &-text-container {
                flex-direction: row;
                gap: 0;
                
                &__icon {
                    width: 50px;
                    padding-right: 20px;
                }
            }
        }
    }
}