.loc-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-bg-tertiary;
    box-shadow: inset 0px 8px 2px -5px darken($color-bg-tertiary, 10%);

    .loc-text-container {
        display: flex;
        align-items: center;
        width: 162px;
        color: $color-bg-footer;
        height: 50px;

        &__text {
            margin-left: 16px;
            font-size: 1rem;
            font-weight: 500;
            color: $color-bg-footer;
        }

        &__icon {
            margin-bottom: 2px;
        }
    }
}

@media screen and (min-width: 641px) {

.loc-section {
        .loc-text-container {
            justify-content: center;
            width: $pad-mult * 162px;
            height: $pad-mult * 50px;

            &__text {
                font-size: 1.1rem;
                margin-right: 15px;
            }

            &__icon {
                font-size: 1.1rem;
            }
        }
    }
}