.restaurants-section {
    display: flex;
    flex-direction: column;
    padding: 54px 20px 64px 20px;
    background-color: $color-bg-secondary;

    &__title {
        margin-bottom: 24px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 18px;
        height: 100%;
        margin: 0;
        padding: 0;
    }
}

@media (min-width: 641px) {
    .restaurants-section {
        border-top-left-radius: 45px;
        border-top-right-radius: 45px;
        padding: 32px 32px 64px 32px;

        &__title {
            margin-bottom: 44px;
            font-size: 1.6rem;
        }

        &__list {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 25px 2%;
        }
    }
}