.restaurants-section {
    display: flex;
    flex-direction: column;
    padding: 54px 20px 64px 20px;
    background-color: $color-bg-secondary;

    h2 {
        margin-bottom: 24px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 18px;
        height: 100%;
        margin: 0;
        padding: 0;
    }
}