footer {
    background-color: $color-bg-footer;
    padding: 25px;

    h2 {
        font-family: 'Shrikhand', sans-serif;
        color: white;
        margin-bottom: 20px;
        font-size: 1.2rem;
        font-weight: 400;
    }

    ul {
        display: flex;
        flex-direction: column;

        li {
            display: flex;
            margin-bottom: 10px;

            .footer-link {
                color: white;
                font-weight: 400;

                &--slight {
                    font-weight: 300;
                }

                &__icon {
                    width: 20px;
                    font-size: 0.8rem;
                }

                &:hover {
                    color: darken(white, 15%)
                }
            }
        }
    }
}

@media (min-width: 641px) {
    
    footer {
        h2 {
            margin-bottom: 25px;
            font-size: $pad-mult * 1.2rem;
        }

        ul {
            flex-wrap: wrap;
            align-content: space-between;
            max-height: 4rem;

            li {
                width: 40%;
                margin-bottom: 10px;
            }
        }
    }
}

@media (min-width: 1025px) {
    
    footer {
        padding: 25px 2rem;

        ul {
            align-content: space-between;
            max-height: 2rem;

            li {
                justify-content: center;
                align-items: center;
                width: 182px;
                height: 2rem;
                margin-bottom: 0;
            }
        }
    }
}