footer {
    height: 198px;
    background-color: #353535;
    padding: 7%;

    h2 {
        font-family: 'Shrikhand', sans-serif;
        color: white;
        margin-bottom: 1.2rem;
        font-size: 1.2rem;
        font-weight: 400;
    }

    li {
        margin-bottom: 0.6rem;

        .footer-link {
            color: white;
            font-weight: 400;

            &--slight {
                font-weight: 300;
            }

            .footer-icons {
                width: 20px;
                font-size: 0.8rem;
            }
        }
    }
}