.heading {
    height: 64px;
    display: flex;
    justify-content: space-around;

    &__logo-container {
        display: flex;
        align-items: center;

        img {
            width: 162px;
        }
    }
}