.heading {
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__logo-container {
        display: flex;
        align-items: center;
        height: 64px;

        img {
            width: 162px;
        }
    }
}

@media (min-width: 641px) {
    .heading {
        &__logo-container {
            height: $ratio-pad * 64px;

            img {
                width: $ratio-pad * 162px;
            }
        }
    }
}