.heading {
    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4rem;
        padding-top: 5px;
        color: $color-bg-footer;
        font-size: 1.3rem;
        transition: color 100ms;

        &:hover {
            color: lighten($color-bg-footer, 20%)
        }
    }

    &__centring-div {
        width: 4rem;
        padding-top: 5px;
    }
}

@media screen and (min-width: 641px) {
    .heading {
        &__link {
            height: 4rem;
            font-size: $pad-mult * 1.3rem;
        }

        &__centring-div {
            height: 4rem;
        }
    }
}

@media screen and (min-width: 1025px) {
    .heading {
        &__link {
            font-size: $desktop-mult * 1.3rem;
        }
    }
}