    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 186px;
        height: 50px;
        border: 0;
        padding: 0;
        border-radius: 25px;
        background: linear-gradient(170deg, $color-secondary, $color-primary);
        box-shadow: 0px 5px 5px 2px darken($color-bg-secondary, 10%);
        cursor: pointer;

        span {
            margin-left: 22px;
            margin-right: 22px;
            text-decoration: none;
            font-weight: 400;
            color: white;
        }

        &:hover {
            background: linear-gradient(170deg, lighten($color-secondary, 10%), lighten($color-primary, 10%));
            box-shadow: 0px 5px 5px 2px darken($color-bg-secondary, 15%);
        }
    }
    
    @media (min-width: 641px) {
        .button {
            min-width: $ratio-pad * 186px;
            height: $ratio-pad * 50px;
            border-radius: $ratio-pad * 32px;

            span {
                margin-left: $ratio-pad * 32px;
                margin-right: $ratio-pad * 32px;
                font-size: $ratio-pad + rem;
            }
        }
    }