.button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 186px;
    height: 50px;
    border: 0;
    padding: 0;
    border-radius: 25px;
    background: linear-gradient(170deg, $color-secondary, $color-primary);
    box-shadow: 0px 5px 5px 2px darken($color-bg-secondary, 10%);
    cursor: pointer;

    span {
        margin-left: 22px;
        margin-right: 22px;
        text-decoration: none;
        font-weight: 400;
        color: white;
    }

    &:hover {
        background: linear-gradient(170deg, lighten($color-secondary, 10%), lighten($color-primary, 10%));
        box-shadow: 0px 5px 5px 2px darken($color-bg-secondary, 15%);
    }
}

@media screen and (min-width: 641px) {
    .button {
        min-width: $pad-mult * 186px;
        height: $pad-mult * 50px;
        border-radius: $pad-mult * 2rem;

        span {
            margin-left: $pad-mult * 2rem;
            margin-right: $pad-mult * 2rem;
            font-size: $pad-mult + rem;
        }
    }
}

@media screen and (min-width: 1025px) {
    .button {
        min-width: $desktop-mult * 186px;
        height: $desktop-mult * 50px;
        border-radius: $desktop-mult * 2rem;

        span {
            margin-left: $desktop-mult * 2rem;
            margin-right: $desktop-mult * 2rem;
            font-size: $desktop-mult + rem;
        }
    }
}