// Position des images, créez une map pour l'inserer dans la mixin 

@mixin image-position($positions){
    @each $image-number, $position in $positions{
        &--#{$image-number}{
            width: map-get($position, width);
            height: map-get($position, height);
            transform: translate(map-get($position, translateX), map-get($position, translateY));
            align-self: map-get($position, align-self);
        }
    }
}


// Apparition des menu card, pensez à vérifier le nombre de card max des menus et à changer la variable $max-card en conséquence

@mixin appear-delay($max-card){
    @for $n-card from 1 through $max-card {
        &--#{$n-card} {
            animation: 750ms ease-out appear;
            animation-delay: 140ms * $n-card - 140ms;
            animation-fill-mode: forwards;
        }
    }
}