@mixin color-tertiary-darken ($color: $color-tertiary){
    color: darken($color, 40%);
}

@mixin restaurants-image-position($positions){
    @each $image-number, $position in $positions{
        &#{$image-number}{
            width: map-get($position, width);
            height: map-get($position, height);
            transform: translate(map-get($position, translateX), map-get($position, translateY));
            align-self: map-get($position, align-self);
        }
    }
}