$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$color-bg-primary: white;
$color-bg-secondary: darken($color-bg-primary, 4%);
$color-bg-tertiary: darken($color-bg-primary, 8%);
$color-bg-footer: darken($color-bg-primary, 79%);

$max-menu-card: 9;

$restaurants-image-position: (
    1: (
    width: 103%,
    translateX: 0%,
    translateY: 0%,
    align-self: flex-end,
    ),

    2: (
    width: 100%,
    translateX: 0%,
    translateY: -7%,
    align-self: center,
    ),

    3: (
    width: 102%,
    translateX: 0%,
    translateY: 0%,
    align-self: flex-end,
    ),

    4: (
    width: 100%,
    translateX: 0%,
    translateY: 0%,
    align-self: flex-end,
    ),
);

$menu-image-position: (
    all: (
    width: 110%,
    translateX: 0%,
    translateY: 10%,
    align-self: center,
    ),
);