$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$color-bg-primary: white;
$color-bg-secondary: #f5f5f5;
$color-bg-tertiary: #ebebeb;
$color-bg-footer: #363636;

$pad-mult: 1.1;
$desktop-mult: 1.25;
// Multiplicateur appliqué à certains éléments pour les versions pad et desktop

$max-menu-card: 10;
// Pour l'animation d'apparition des lignes du menu : 
// Indiquez le nbr de card du menu le plus long
// Modifiez dans le html le nom de class des card "menu-card--X" en remplaçant X par l'ordre d'apparition (1 étant la première card à apparaitre) 

$restaurants-image-position: (
    1: (
    width: 104%,
    translateX: 0%,
    translateY: 0%,
    align-self: flex-end,
    ),

    2: (
    width: 100%,
    translateX: 0%,
    translateY: -7%,
    align-self: center,
    ),

    3: (
    width: 102%,
    translateX: 0%,
    translateY: 0%,
    align-self: flex-end,
    ),

    4: (
    width: 100%,
    translateX: 0%,
    translateY: 0%,
    align-self: flex-end,
    ),
);
// Changez ici les positions des photos pour les cards du menu principal
// Ajoutez si nécessaire des paramètres spécifiques à une photo, n'oubliez pas de modifier le nom de class dans le html par "card-image-container__image--XXX"


$menu-image-position: (
    standard: (
    width: 110%,
    translateX: 0%,
    translateY: 10%,
    align-self: center,
    ),
);
// Changez ici les positions des photos pour les menus
// Ajoutez si nécessaire des paramètres spécifiques à une photo, n'oubliez pas de modifier le nom de class dans le html par "image-container__image--XXX"